/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
@media (max-width: 1450px) {
  .slick-prev,
  .slick-next {
    top: 56%;
  }
}

@media (max-width: 1200px) {
  body .header__content {
    padding: 0 40px;
  }
  .slick-dots {
    bottom: 35px;
  }
  body .slick-prev,
  body .slick-next {
    display: none;
    background: none;
  }
  body .slick-slider {
    height: auto;
  }
  body .slick-slider_description h1 {
    font-size: 70px;
  }
  body .services__section img {
    width: 100%;
    height: auto;
  }
  body .services__section_item {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  body .services__section_item_img:nth-child(2) {
    padding-right: 0;
  }
  body .services__section_item .d2 {
    padding-top: 45px;
  }
  body .path {
    display: none;
  }
  body .contact {
    padding-left: 20px;
    padding-bottom: 60px;
  }
  body .contact .map__contact-title {
    left: 20px;
  }
  body .contact .map {
    -webkit-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
    right: -30px;
    top: -30px;
  }
  body .contact .contact__content .info-header .contact__title h3 {
    font-size: 36px;
  }
  body .contact .map__contact-info {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 1024px) {
  body .slick-slider_description {
    top: calc(50% - 125px);
  }
}

@media (max-width: 950px) {
  body .services__section_item .d3 {
    padding-left: 0;
    padding-right: 0;
  }
  body .services__section_item_img:nth-child(2) {
    padding-right: 0;
  }
  body .services__section_item .d3,
  body .services__section_item .d2,
  body .services__section_item .d1 {
    padding-top: 29px;
  }
  body .services__section_item .d1 h2,
  body .services__section_item .d2 h2,
  body .services__section_item .d3 h2 {
    font-size: 28px;
  }
  body .services__section_item:nth-child(3) {
    padding-top: 70px;
  }
  body .contact .map {
    -webkit-transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
    right: -100px;
  }
  body .contact .map__contact-info {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    right: -36px;
    top: 134px;
  }
  body .contact .contact__content .info-header .info-header-tab h3 {
    font-size: 17px;
  }
  body .contact .contact__content .info-header .info-header-tab span {
    font-size: 13px;
  }
  body .contact .map__contact-title span {
    font-size: 16px;
  }
  body .contact .contact__content .info-header .info-header-tab {
    max-width: 273px;
  }
  body .contact .map__contact-info {
    right: -7px;
    top: 166px;
  }
}

@media (max-width: 800px) {
  body .info-header-tab {
    width: 400px;
  }
  body .contact {
    padding-right: 20px;
    padding-bottom: 30px;
  }
  body .contact .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 0 auto;
    right: 0;
    left: 0;
    height: 500px;
    width: 100%;
  }
  body .services__section_item .d1 p,
  body .services__section_item .d1 li,
  body .services__section_item .d2 p,
  body .services__section_item .d2 li,
  body .services__section_item .d3 p,
  body .services__section_item .d3 li {
    font-size: 14px;
  }
  body .services__section_item_img:nth-child(1) {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  body .slick-slider_description {
    top: calc(50% - 125px);
  }
  body .slick-slider_description h1 {
    font-size: 37px;
  }
  body .slick-slider_description p {
    padding-bottom: 40px;
    font-size: 16px;
  }
  body .slick-slider_description a {
    font-size: 14px;
  }
  .slick-slider img,
  .slick-slider .player {
    width: 100%;
    height: auto;
  }
  body .services__section_item_img {
    display: none;
  }
  body .services__section_item .d1 h2,
  body .services__section_item .d2 h2,
  body .services__section_item .d3 h2 {
    width: 100%;
    text-align: left;
    max-width: 570px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  body .slick-slider_description h1 {
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body .slick-slider_description p {
    padding-left: 30px;
    padding-right: 30px;
  }
  body .services__section_item_desc a {
    padding: 12px 83px 12px 24px;
    font-size: 16px;
  }
  body .services__section_item_desc a::after {
    bottom: 13px;
  }
  body .services__section_item {
    padding-top: 14px;
    padding-bottom: 20px;
  }
  body .services__section_item .d1,
  body .services__section_item .d2,
  body .services__section_item .d3 {
    padding-top: 0;
  }
  body .services__section_item:nth-child(2),
  body .services__section_item:nth-child(3) {
    padding-top: 50px;
  }
}

@media (max-width: 520px) {
  body .contact {
    padding-right: 0;
    padding-left: 0;
  }
  body .contact .contact__content .info-header .contact__title {
    text-align: center;
  }
  body .contact .info-header {
    margin: 0 auto;
  }
  body .contact .map__contact .map__contact-info {
    position: relative;
    top: 0;
    margin: 0 auto;
    max-width: 400px;
    padding-left: 30px;
    padding-right: 30px;
  }
  body .map__contact {
    padding: 0;
  }
  body .contact .map {
    display: none;
  }
  body .contact .map__contact-title {
    left: calc(50% - 103px);
    max-width: 240px;
  }
  body .contact .map__contact_title h3 {
    text-align: center;
  }
  .footer .logo {
    padding-top: 40px;
  }
  .footer .footer__nav ul li {
    padding-right: 30px;
  }
  .footer p {
    padding-bottom: 15px;
    padding-bottom: 25px;
  }
}

@media (max-width: 380px) {
  body .slick-slider_description {
    top: calc(50% - 125px);
  }
  body .slick-slider_description h1 {
    font-size: 37px;
  }
  body .slick-slider_description p {
    padding-bottom: 40px;
    font-size: 16px;
  }
  body .slick-slider_description a {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .footer .logo span {
    font-size: 30px;
  }
  .footer .logo svg {
    width: 26px;
    height: 29px;
  }
  .footer .footer__nav ul {
    display: none;
  }
  .footer p {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1024px) {
  body .header__content_nav .header__btn-menu {
    display: block;
  }
  body .header__content_nav ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 50;
  }
  body .header__content_nav ul li {
    display: block;
    padding-right: 0;
    padding-top: 20px;
    background: rgba(205, 214, 219, 0.3);
  }
  body .header__content_nav ul li:last-child {
    padding-bottom: 20px;
  }
  body .header__content_nav ul li a {
    width: 100%;
    display: block;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1170px) {
  body .header__content_nav ul {
    display: block !important;
  }
}
/*# sourceMappingURL=media.css.map */