/* tahoma-regular - latin */
@font-face {
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Tahoma.eot');
  src: local('Tahoma Regular'), local('Tahoma-Regular');
  src: url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/Tahoma.woff2') format('woff2');
  src: url('../fonts/Tahoma.woff') format('woff');
  src: url('../fonts/Tahoma.ttf') format('truetype');
}

@font-face {
  font-family: 'Tahoma-Bold';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Tahoma.eot'); /* IE9 Compat Modes */
  src: local('Tahoma Bold'), local('Tahoma-Bold'),
       url('../fonts/Tahoma.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Tahoma-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Tahoma-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Tahoma-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
